@model FileManagerModel
@using SwissCreateWeb.Models.Project;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FileManager";
    
}

@helper RenderACategory(ProjectCategoryModel cat)
{
    if (cat != null)
    {
        var total = cat.Projects.Count + cat.ChildProjectCategories.Count;
        <li>
            <span data-toggle="context" class="FolderContextMenu" data-type="category" data-id="@cat.Id"><i class="glyphicon glyphicon-folder-open">&nbsp;</i>@cat.Name &#40;@total&#41;</span> @*<a href="">Goes somewhere</a>*@
            <ul>
                @if (cat.Projects != null && cat.Projects.Count() > 0)
                {
                    foreach (var project in cat.Projects)
                    {
                        <li>
                            <span data-toggle="context" class="FileContextMenu" data-type="project" data-id="@project.Id" style="background-color:antiquewhite"><i class="glyphicon glyphicon-file">&nbsp;</i>@project.Name</span>
                        </li>
                    }
                }

                @if (cat.ChildProjectCategories != null && cat.ChildProjectCategories.Count() > 0)
                {
                    foreach (var childCat in cat.ChildProjectCategories)
                    {
                        @RenderACategory(childCat)
                    }
                }
            </ul>
        </li>
    }
}
<h4>Files Management</h4>
<div>

    <div id="context-menu-folder">
        <ul id="ul_folder" class="dropdown-menu" role="menu">
            <li ><a id="a_folder_addChildFolder" href="#" tabindex="-1" >Add child folder</a></li>
            <li class="NotForRoot"><a id="a_folder_addChildFile" href="#" tabindex="-1">Add child file</a></li>
            <li class="divider NotForRoot"></li>
            <li class="NotForRoot"><a id="a_folder_deleteFolder" href="#" tabindex="-1">Delete this folder</a></li>
            <li class="divider NotForRoot"></li>
            <li class="NotForRoot"><a id="a_folder_changeFolderName" href="#" tabindex="-1">Change this folder name</a></li>
            <li class="divider"></li>
            <li id="li_folder_close"><a href="#" tabindex="-1">Close</a></li>
        </ul>
    </div>

    <div id="context-menu-file">
        <ul id="ul_file" class="dropdown-menu" role="menu">
            <li><a id="a_file_openProject" href="#" tabindex="-1">Open</a></li>
            <li class="divider"></li>
            <li><a id="a_file_uploadProjectData" href="#" tabindex="-1">Upload .scg</a></li>
            <li><a id="a_file_downloadProjectData" href="#" tabindex="-1">Download .scg</a></li>
            <li class="divider"></li>
            <li><a id="a_file_changeFileName" href="#" tabindex="-1">Change file name</a></li>
            <li class="divider"></li>
            <li><a id="a_file_deleteFile" href="#" tabindex="-1">Delete this file</a></li>
            <li class="divider"></li>
            <li><a href="#" tabindex="-1">Close</a></li>
        </ul>
    </div>

    <div class="tree">
        <ul id="ul_tree">
            @RenderACategory(Model.ProjectCategoryRoot)
        </ul>
    </div>

@Html.Hidden("GetFileManager", Url.Action("FileManager", "ProjectManager"))

@Html.Hidden("GetProjectCategoryRoot", Url.Action("GetProjectCategoryRoot", "ProjectManager"))
@Html.Hidden("AddChildProjectCategory", Url.Action("AddChildProjectCategory", "ProjectManager"))
@Html.Hidden("AddProject", Url.Action("AddProject", "ProjectManager"))

@Html.Hidden("DeleteProjectCategory", Url.Action("DeleteProjectCategory", "ProjectManager"))
@Html.Hidden("DeleteProject", Url.Action("DeleteProject", "ProjectManager"))

@Html.Hidden("ChangeProjectCategoryName", Url.Action("ChangeProjectCategoryName", "ProjectManager"))
@Html.Hidden("ChangeProjectName", Url.Action("ChangeProjectName", "ProjectManager"))

@*Project*@
@Html.Hidden("OpenProject", Url.Action("ProjectEdit", "Project"))

@Html.Hidden("UploadFile", Url.Action("UploadFile", "ProjectManager"))

@*Template*@
<input value="@ViewBag.ConcatedFiles" id="Templates" name="Templates" type="hidden">


<!-- The javascript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<link href="~/Content/BootStrapTree/bootstrap.tree.css" rel="stylesheet" />
<script src="~/Content/BootStrapTree/bootstrap.tree.js"></script>
<script src="~/Content/BootStrapContextMenu/bootstrap.contextmenu.js"></script>
<script src="~/AJSApp/Controllers/Project/FileManager/FileManager.js"></script>

