@model SwissCreateWeb.Models.User.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}

<h3>@T("Account.ChangePassword.Welcome")</h3>
<hr />
<div class="row">
   <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Change Password
            </div>
            <div class="panel-body">
                <div class="message-error">
                    @Html.ValidationSummary(true)
                </div>
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        @Model.Result
                    </div>
                }
                <section id="userAccountForm">
                    @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="@T("Account.ChangePassword.ChangePasswordButton")" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>