@model SwissCreateWeb.Models.User.UserProfileModel
@{
    ViewBag.Title = "User Profile";    
}

<h3>@T("Account.UserProfile.Welcome")</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Personal Details
            </div>
            <div class="panel-body">
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        @Model.Result
                    </div>
                }
                
                <section id="userProfileForm">
                    @using (Html.BeginForm("UserProfile", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MiddleName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Surname, new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Surname)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Mobile, new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Mobile)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Username, new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Username)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="@T("Account.UserProfile.UpdateProfileButton")" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>    
</div>