@using System;
@using System.Collections.Generic;
@using System.Linq;
@using SwissCreate.Core;
@using SwissCreate.Core.Caching;
@using SwissCreate.Core.Data;
@using SwissCreate.Core.Domain.Users;
@using SwissCreate.Core.Domain.Security;
@using SwissCreate.Services.Users;

@{
    List<PermissionRecord> perms = new List<PermissionRecord>();
    if (Request.IsAuthenticated)
    {
        var workContext = EngineContext.Current.Resolve<IWorkContext>();
        perms = workContext.CurrentUser.UserRoles.SelectMany(ur => ur.PermissionRecords).ToList();
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootbox")

    @*<script type="text/javascript" src="https://www.google.com/jsapi"></script>*@
    <script src="~/Scripts/public.common.js"></script>

    <link href="~/Content/BootStrapTree/bootstrap.tree.css" rel="stylesheet" />
    <script src="~/Content/BootStrapTree/bootstrap.tree.js"></script>
    <script src="~/Content/BootStrapContextMenu/bootstrap.contextmenu.js"></script>

    <script src="~/Scripts/jsapi.js"></script>
    <script type="text/javascript">
        google.load("visualization", "1.1", { packages: ["corechart", "bar"] })
    </script>
    <style>
        body {
            background-image: url('../Images/backgrounds/images (4).jpg');
            /*background-color: #e5e5e5;*/
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home" )">
                    <img src="~/Content/Images/logo_swiss_create.png" class="img-responsive" alt="swiss create" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(perms != null &&
                        (
                        perms.Exists(p => p.SystemName == "Management.Files") ||
                        perms.Exists(p => p.SystemName == "Management.Users") ||
                        perms.Exists(p => p.SystemName == "Management.AccountTypes")
                        )
                    )
                    {
                    <li class="dropdown">

                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Management<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @if (perms != null && perms.Any(p => p.SystemName == "Management.Files"))
                                {
                                <li>@Html.ActionLink("Files", "FileManager", "ProjectManager")</li>
                                }
                            @if (perms != null && perms.Any(p => p.SystemName == "Management.Users"))
                                {
                                <li>@Html.ActionLink("Users ", "Index", "User", routeValues: null, htmlAttributes: new { title = "User Management" })</li>
                                }
                            @if (perms != null && perms.Any(p => p.SystemName == "Management.AccountTypes"))
                                {
                                //<li>@Html.ActionLink("Account Types", "UserRoles", "User", routeValues: null, htmlAttributes: new { title = "Account Type Management" })</li>
                                }
                        </ul>
                    </li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year - Swiss Create Business Development.</p>
            @Html.Action("LanguageSelector", "Common")
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
