@model SwissCreateWeb.Models.Project.ProjectEditModel
@{
    ViewBag.Title = "Project";
}

<script src="~/AJSApp/Controllers/Project/ProjectEdit/ProjectEdit.js"></script>
<script src="~/AJSApp/Controllers/Project/ProjectEdit/ProjectEditController.js"></script>

<div ng-app="SwissCreateApp" ng-controller="ProjectCtrl">

    <div class="row" style="margin-top:5px">
        <div class="col-md-2">
            <div>{{ProjectData.UIText_CompanyName}}</div>
            <input class="form-control" value="{{ProjectData.CompanyName}}" />
        </div>

        <div class="col-md-2">
            <div>{{ProjectData.UIText_Name}}</div>
            <input class="form-control" value="{{ProjectData.Name}}" />
        </div>

        <div class="col-md-2">
            <div>{{ProjectData.UIText_Author}}</div>
            <input class="form-control" value="{{ProjectData.Author}}" />
        </div>

        <div class="col-md-2">
            <div>{{ProjectData.UIText_Comment}}</div>
            <input class="form-control" value="{{ProjectData.Comment}}" />
        </div>

        <div class="col-md-2">
            <div>{{ProjectData.UIText_StartedDate}}</div>
            <input class="form-control" value="{{ProjectData.StartedDate_Date | jsonDate: 'dd/MM/yyyy' }}" />
        </div>
    </div>

    <div style="margin-top:5px" class="row">

        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            @*Tab: Business Model*@
            <li id="li_businessmodel" class="active">
                <a id="a_businessmodel" href="#tab_businessmodel" data-toggle="tab" style="background-color:wheat">
                    {{ProjectData.Periods[0].Steps[0].ShortName}}
                </a>
            </li>

            @*Tab: Swot-Analysis*@
            <li id="li_swotanalysis">
                <a id="a_swotanalysis" href="#tab_swotanalysis" data-toggle="tab" style="background-color:wheat">
                    {{ProjectData.Periods[0].Steps[1].ShortName}}
                </a>
            </li>
        </ul>

        <div id="my-tab-content" class="tab-content col-md-12" style="border:solid 1px wheat">
            @*Tab: Business Model*@
            <div class="tab-pane  active col-md-12" id="tab_businessmodel">
                
                <div class="row" id="divContent_businessmodel">
                    @Html.Partial("Tab_BusinessModel", Model)
                </div>
            </div>


            @*Tab: Swot-Analysis*@
            <div class="tab-pane col-md-12" id="tab_swotanalysis">
                <div class="row" style="margin: 5px; color:red">{{ProjectData.Periods[0].Steps[1].FullName_UPPER}}:</div>
                <div class="row" id="divContent_swotanalysis">
                    @Html.Partial("Tab_SwotAnalysis", Model)
                </div>
            </div>

        </div>
    </div>

    
    @Html.Hidden("ProjectEdittingId", Model.Project.Id)
    @Html.Hidden("GetProjectEditModel", Url.Action("GetProjectEditModel", "Project"))    
    @Html.Hidden("GetTab", Url.Action("", "Project"))
    
</div>
