@model ViCode_LeVi.Data.Step_QuestionAnwserStep
@{
    Layout = null;
}

<div style="margin-top: 5px; margin-bottom: 5px" class="col-md-12">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        @for (int i = 0; i < Model.QuestionAnwserGroups.Count(); i++)
        {
            ViCode_LeVi.Data.Step_QuestionAnwserGroup group = Model.QuestionAnwserGroups[i];
            if (i == 0)
            {
                <li class="active"><a href="#@i" data-toggle="tab">@group.Name</a></li>
            }
            else
            {
                <li><a href="#@i" data-toggle="tab">@group.Name</a></li>
            }
        }
    </ul>
    <div id="my-tab-content" class="tab-content col-md-12">
        @for (int i = 0; i < Model.QuestionAnwserGroups.Count(); i++)
        {
            ViCode_LeVi.Data.Step_QuestionAnwserGroup group = Model.QuestionAnwserGroups[i];
            if (i == 0)
            {
                <div class="tab-pane active row" id="@i" style="background-color:lightgray">
                    <div class="col-md-12">
                        @for (int q = 0; q < group.QuestionAnswers.Count(); q++)
                        {
                            ViCode_LeVi.Data.Step_QuestionAnwser qa = group.QuestionAnswers[q];
                            <hr />
                            <div class="row">
                                <div class="col-md-5" style="margin-left:5px">
                                    <div>@qa.Question</div>
                                </div>
                                <div class="col-md-6">
                                    <textarea rows="3" style="width:100%">@qa.Answer</textarea>
                                </div>
                                <div class="row col-md-1">
                                    <div class="btn-group" style="margin-top: 5px; width: 100%">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="vertical-align:baseline">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Delete</a></li>
                                            <li><a href="#">Move Up</a></li>
                                            <li><a href="#">Move Down</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        <hr />
                        <button type="button" class="btn btn-default" aria-expanded="false" style="margin-bottom:10px;">
                            Add new question...
                        </button>
                    </div>
                </div>
            }
            else
            {
                <div class="tab-pane row" id="@i" style="background-color:lightgray">
                    <div class="col-md-12">
                        @for (int q = 0; q < group.QuestionAnswers.Count(); q++)
                        {
                            ViCode_LeVi.Data.Step_QuestionAnwser qa = group.QuestionAnswers[q];
                            <hr />
                            <div class="row">
                                <div class="col-md-5" style="margin-left:5px">
                                    <div>@qa.Question</div>
                                </div>
                                <div class="col-md-6">
                                    <textarea rows="3" style="width:100%">@qa.Answer</textarea>
                                </div>
                                <div class="row col-md-1">
                                    <div class="btn-group" style="margin-top:5px; width:100%;">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="vertical-align:baseline">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Delete</a></li>
                                            <li><a href="#">Move Up</a></li>
                                            <li><a href="#">Move Down</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        <hr />
                        <button type="button" class="btn btn-default" aria-expanded="false" style="margin-bottom:10px;">
                            Add new question...
                        </button>
                    </div>
                </div>
            }
        }
    </div>
</div>

@*@{
        ViewBag.Title = "_QuestionAnwserStep";
    }

    <h2>_QuestionAnwserStep</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>*@
