@model SwissCreateWeb.Models.Project.ProjectEditModel
@{
    Layout = null;
    var stepIndex = Convert.ToInt32(ViewData["stepIndex"]);
}

<div class="row">
    <div class="col-md-10">@Model.ProjectData.Periods[0].Steps[stepIndex].FullName_UPPER:</div>
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-md-10">
        <ul class="nav nav-tabs">
            @*Tab: Human Captial*@
            <li id="li_HumanCaptial" class="active">
                <a id="a_HumanCaptial" href="#tab_HumanCaptial" data-toggle="tab">
                    @Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[0].Name
                    (@Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[0].Code)
                </a>
            </li>

            @*Tab: Structural Capital*@
            <li id="li_StructuralCapital">
                <a id="a_StructuralCapital" href="#tab_StructuralCapital" data-toggle="tab">
                    @Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[1].Name
                    (@Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[1].Code)
                </a>
            </li>

            @*Tab: Relationship Capital*@
            <li id="li_RelationshipCapital">
                <a id="a_RelationshipCapital" href="#tab_RelationshipCapital" data-toggle="tab">
                    @Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[2].Name
                    (@Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[2].Code)
                </a>
            </li>

            @*Tab: Weight*@
            <li id="li_Weight">
                <a id="a_Weight" href="#tab_Weight" data-toggle="tab">
                    @Model.ProjectData._ControlTextInfoInData.TaskItem_WeightText
                    (@Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[0].Code, 
                    @Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[1].Code, 
                    @Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[2].Code)
                </a>
            </li>
        </ul>
        <div id="my-tab-content" class="tab-content tab-content-border">
            @*Tab: Human Captial*@
            <div class="tab-pane in active" id="tab_HumanCaptial">
                <div id="jsGrid_HumanCaptial"></div>
            </div>

            @*Tab: StructuralCapital*@
            <div class="tab-pane" id="tab_StructuralCapital">
                <div id="jsGrid_StructuralCapital"></div>
            </div>

            @*Tab: Relationship Capital*@
            <div class="tab-pane" id="tab_RelationshipCapital">
                <div id="jsGrid_RelationshipCapital"></div>
            </div>

            @*Tab: Weight*@
            <div class="tab-pane" id="tab_Weight">
                <div id="jsGrid_Weight"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2">@Html.Partial("StepResult", Model.ProjectData.Periods[0].Steps[stepIndex].Result)</div>
</div>


<script src="~/AJSApp/Controllers/Project/ProjectEdit/Tab_SuccessFactors.js"></script>