@model SwissCreateWeb.Models.Project.ProjectEditModel
@{
    Layout = null;
    var stepIndex = ViewBag.StepIndex;
    if (stepIndex == null)
    {
        stepIndex = 5;
    }
}



<div class="row" style="margin-top:10px;">
    <div class="col-md-11" style="color:red; margin-top:10px;">@Model.ProjectData.Periods[0].Steps[stepIndex].FullName_UPPER:</div>
    <div class="col-md-1"><button type="button" class="btn btn-default" onclick="doSave()" aria-expanded="false">Save</button></div>
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-md-10">
        <ul class="nav nav-tabs" data-tabs="tabs">
            @*Tab: Human Captial*@
            <li id="li_WeightBarChart" class="active">
                <a id="a_WeightBarChart" href="#tab_WeightBarChart" data-toggle="tab" style="background-color:wheat">
                    @Model.ProjectData.Periods[0].Steps[stepIndex].Analysis.Analysis1
                </a>
            </li>

            @*Tab: Structural Capital*@
            <li id="li_ValuationBarChart">
                <a id="a_ValuationBarChart" href="#tab_ValuationBarChart" data-toggle="tab" style="background-color:wheat">
                    @Model.ProjectData.Periods[0].Steps[stepIndex].Analysis.Analysis2
                </a>
            </li>

            @*Tab: Relationship Capital*@
            <li id="li_PortfolioofPotential">
                <a id="a_PortfolioofPotential" href="#tab_PortfolioofPotential" data-toggle="tab" style="background-color:wheat">
                    @Model.ProjectData.Periods[0].Steps[stepIndex].Analysis.Analysis3
                </a>
            </li>
        </ul>
        <div id="my-tab-content" class="tab-content col-md-12" style="border:solid 1px wheat">
            @*Tab: Human Captial*@
            <div class="tab-pane active" id="tab_WeightBarChart">
                <div id="divCheckBoxes" class="row radio" style="display: block; margin:10px; border-bottom:1px dotted; border-color:gray;">
                    <label class="checkbox-inline"><input type="checkbox" id="checkbox_HC" name="checkboxFilter" value="HC" class="checkboxFilter">HC</label>
                    <label class="checkbox-inline"><input type="checkbox" id="checkbox_SC" name="checkboxFilter" value="SC" class="checkboxFilter">SC</label>
                    <label class="checkbox-inline"><input type="checkbox" id="checkbox_RC" name="checkboxFilter" value="RC" class="checkboxFilter">RC</label>
                </div>
                <div id="div_WeightBarChart" style="min-height:500px; margin:5px;"></div>
                <hr />
                <div class="row" style="margin:5px">Interpretation:</div>
                <div class="row" style="margin:2px"><textarea rows="3" class="form-control" id="textarea_Interpretation1">@Model.ProjectData.Periods[0].Steps[stepIndex].Analysis.Interpretation1</textarea></div>
            </div>

            @*Tab: StructuralCapital*@
            <div class="tab-pane active" id="tab_ValuationBarChart">
                <div class="row radio" style="display: block; margin:10px; border-bottom:1px dotted; border-color:gray;">
                    <label class="radio-inline"><input type="radio" id="radio_HC" name="radioFilter" value="HC" class="radioFilter">HC</label>
                    <label class="radio-inline"><input type="radio" id="radio_SC" name="radioFilter" value="SC" class="radioFilter">SC</label>
                    <label class="radio-inline"><input type="radio" id="radio_RC" name="radioFilter" value="RC" class="radioFilter">RC</label> 
                </div>
                <div id="div_ValuationBarChart" style="min-height:500px; margin:5px;"></div>
                <hr />
                <div class="row" style="margin:5px">Interpretation:</div>
                <div class="row" style="margin:2px"><textarea rows="3" class="form-control" id="textarea_Interpretation2">@Model.ProjectData.Periods[0].Steps[stepIndex].Analysis.Interpretation2</textarea></div>
            </div>

            @*Tab: Relationship Capital*@
            <div class="tab-pane active" id="tab_PortfolioofPotential">
                <div id="divCheckBoxes_Portfolio" class="row radio" style="display: block; margin:10px; border-bottom:1px dotted; border-color:gray;">
                    <label class="checkbox-inline"><input type="checkbox" id="checkbox_HC_Portfolio" name="checkboxFilter" value="HC" class="checkboxFilter">HC</label>
                    <label class="checkbox-inline"><input type="checkbox" id="checkbox_SC_Portfolio" name="checkboxFilter" value="SC" class="checkboxFilter">SC</label>
                    <label class="checkbox-inline"><input type="checkbox" id="checkbox_RC_Portfolio" name="checkboxFilter" value="RC" class="checkboxFilter">RC</label>
                </div>
                <div id="div_PortfolioOfPotential" style="min-height:500px; margin:5px;"></div>
                <hr />
                <div class="row" style="margin:5px">Interpretation:</div>
                <div class="row" style="margin:2px"><textarea rows="3" class="form-control" id="textarea_Interpretation3">@Model.ProjectData.Periods[0].Steps[stepIndex].Analysis.Interpretation3</textarea></div>
            </div>
        </div>
    </div>
    <div class="col-md-2">@Html.Partial("StepResult", Model.ProjectData.Periods[0].Steps[stepIndex].Result)</div>
</div>

@Html.Hidden("Hidden_ProjectId", Model.Project.Id)
@*@Html.Hidden("Hidden_StepIndex", stepIndex)*@
<input value="@stepIndex" id="Hidden_StepIndex" name="Hidden_StepIndex" type="hidden">
@Html.Hidden("Hidden_Get_Step_TaskItemStep", Url.Action("Get_Step_TaskItemStep", "Project"))
@Html.Hidden("Hidden_Save_Tab_Evaluation", Url.Action("Save_Tab_Evaluation", "Project"))

<script src="~/AJSApp/Controllers/Project/ProjectEdit/Tab_Evaluation.js"></script>