@model SwissCreateWeb.Models.Project.ProjectEditModel
@{
    Layout = null;
    var stepIndex = ViewBag.StepIndex;
    if (stepIndex == null)
    {
        stepIndex = 3;
    }
}

<div class="row" style="margin-top:10px;">
    <div class="col-md-11" style="color:red; margin-top:10px;">@Model.ProjectData.Periods[0].Steps[stepIndex].FullName_UPPER:</div>
    <div class="col-md-1"><button type="button" class="btn btn-default" onclick="doSave()" aria-expanded="false">Save</button></div>
</div>


<div class="row" style="margin-top:10px;">
    <div class="col-md-10">
        <ul class="nav nav-tabs" data-tabs="tabs">
            @*Tab: Human Captial*@
            <li id="li_HumanCaptial" class="active">
                <a id="a_HumanCaptial" href="#tab_HumanCaptial" data-toggle="tab" style="background-color:wheat">
                    @Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[0]._Name
                    (@Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[0]._Code)
                </a>
            </li>

            @*Tab: Structural Capital*@
            <li id="li_StructuralCapital">
                <a id="a_StructuralCapital" href="#tab_StructuralCapital" data-toggle="tab" style="background-color:wheat">
                    @Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[1]._Name
                    (@Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[1]._Code)
                </a>
            </li>

            @*Tab: Relationship Capital*@
            <li id="li_RelationshipCapital">
                <a id="a_RelationshipCapital" href="#tab_RelationshipCapital" data-toggle="tab" style="background-color:wheat">
                    @Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[2]._Name
                    (@Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[2]._Code)
                </a>
            </li>

            @*Tab: Weight*@
            <li id="li_Weight">
                <a id="a_Weight" href="#tab_Weight" data-toggle="tab" style="background-color:wheat">
                    @Model.ProjectData._ControlTextInfoInData.TaskItem_WeightText
                    (@Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[0]._Code, 
                    @Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[1]._Code, 
                    @Model.ProjectData.Periods[0].Steps[stepIndex].TaskItemStep.TaskItemGroups[2]._Code)
                </a>
            </li>
        </ul>
        <div id="my-tab-content" class="tab-content col-md-12" style="border:solid 1px wheat" >
            @*Tab: Human Captial*@
            <div class="tab-pane active" id="tab_HumanCaptial">
                <div id="jsGrid_HumanCaptial" style="min-height:500px; padding:0px;"></div>
            </div>

            @*Tab: StructuralCapital*@
            <div class="tab-pane" id="tab_StructuralCapital">
                <div id="jsGrid_StructuralCapital" style="min-height:500px; padding:0px;"></div>
            </div>

            @*Tab: Relationship Capital*@
            <div class="tab-pane" id="tab_RelationshipCapital">
                <div id="jsGrid_RelationshipCapital" style="min-height:500px; padding:0px;"></div>
            </div>

            @*Tab: Weight*@
            <div class="tab-pane" id="tab_Weight">
                <div id="jsGrid_Weight" style="min-height:500px; padding:0px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2">@Html.Partial("StepResult", Model.ProjectData.Periods[0].Steps[stepIndex].Result)</div>
</div>

@Html.Hidden("Hidden_ProjectId", Model.Project.Id)
@*@Html.Hidden("Hidden_StepIndex", stepIndex)*@
<input value="@stepIndex" id="Hidden_StepIndex" name="Hidden_StepIndex" type="hidden">

@Html.Hidden("Hidden_Get_Step_TaskItemStep", Url.Action("Get_Step_TaskItemStep", "Project"))
@Html.Hidden("Hidden_Post_Step_TaskItemStep", Url.Action("Post_Step_TaskItemStep", "Project"))

<link href="~/Content/jsGrid/css/jsgrid.css" rel="stylesheet" />
<link href="~/Content/jsGrid/css/theme.css" rel="stylesheet" />

<script src="~/Content/jsGrid/jsgrid.core.js"></script>
<script src="~/Content/jsGrid/jsgrid.load-indicator.js"></script>
<script src="~/Content/jsGrid/jsgrid.load-strategies.js"></script>
<script src="~/Content/jsGrid/jsgrid.sort-strategies.js"></script>

<script src="~/Content/jsGrid/jsgrid.field.js"></script>
<script src="~/Content/jsGrid/jsgrid.field.text.js"></script>
<script src="~/Content/jsGrid/jsgrid.field.number.js"></script>
<script src="~/Content/jsGrid/jsgrid.field.select.js"></script>
<script src="~/Content/jsGrid/jsgrid.field.checkbox.js"></script>
<script src="~/Content/jsGrid/jsgrid.field.textarea.js"></script>
<script src="~/Content/jsGrid/jsgrid.field.control.js"></script>

<script src="~/AJSApp/Controllers/Project/ProjectEdit/Tab_SuccessFactors.js"></script>